<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>RelayServlet</servlet-name>
		<servlet-class>dk.itu.spct.photorelay.RelayServlet</servlet-class>
	</servlet>
  <servlet-mapping>
    <servlet-name>RelayServlet</servlet-name>
    <url-pattern>/getUploadUrl</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>RelayServlet</servlet-name>
    <url-pattern>/getPhotoById</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RelayServlet</servlet-name>
    <url-pattern>/getPhotoUrls</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RelayServlet</servlet-name>
    <url-pattern>/getPhotoUrlsByNfcId</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RelayServlet</servlet-name>
    <url-pattern>/deletePhotoById</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>RelayServlet</servlet-name>
    <url-pattern>/uploadCompleted</url-pattern>
  </servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
